.preloader-wrapper {
  min-height: 100vh;
}

.preloader-item {
  width: 48px;
  height: 48px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side,#0000 40%,#000 44%);
  background: linear-gradient(0deg ,#244cfd 50%,#247efd 0) center/4px 100%,
    linear-gradient(90deg,#3786f4 50%,#247efd 0) center/100% 4px;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}

.preloader-item::before,
.preloader-item::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.preloader-item::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}