.onboarding-section-wrapper {
  position: relative;
  z-index: 1;
  padding: 64px 30px;
  background-color: #f7f7f9;
}

.welcome-onboard-section {
   position: relative;
  background-image: url("../../../../../assets/images/onboard/welcome-onboard.png");
  background-size: initial;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  height: 320px;
  border-radius: 4px;
  z-index: 1;
}
.welcome-onboard-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top right,
    rgba(36, 76, 253, 0.1),
    rgba(36, 126, 253, 0.3),
    rgba(21, 228, 253, 0.1)
  );
  z-index: -1;
}

.welcome-onboard-content-wrapper {
  padding: 0.5rem 1rem;
  background-color: #fff;
}

.welcome-onboard-user {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.welcome-onboard-user h3 {
  font-size: 1.125rem;
  padding: 20px  0;
  font-weight: 600;
  text-transform: capitalize;
}

.welcome-onboard-message {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.welcome-onboard-message h5 {
  padding: 20px 0 0;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: capitalize;
}
.welcome-onboard-message p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 16px 0 0;
  margin-bottom: 1.25rem !important;
}
.onboarding-welcome-btn {
  padding: 0 20px 20px;
}

/* media query css */
@media (min-width: 768px) {
  .welcome-onboard-content-wrapper {
    padding: 0.5rem 2.5rem;
  }
  .welcome-onboard-user h6 {
  font-size: 1.5rem;
  font-weight: 700;
}
.welcome-onboard-message h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
.welcome-onboard-message p {
  font-size: 1.125rem;
}
}
