.upload-asset {
  position: relative;
  margin-bottom: 20px;
}
.upload-asset .upload-asset-label {
  font-weight: 500;
  margin-bottom: 12px;
  color: #07163d;
  line-height: 32px;
}
.upload-asset .required {
  color: #dc3545;
}
.upload-asset-wrapper {
  padding: 18px 32px;
  gap: 24px;
  border-radius: 0.5rem;
  border: 1.624px dashed #dadce0d1;
  background: #f9faff;
}
.upload-asset-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #247efd;
}
.upload-asset-bg .upload-asset-icon {
  min-width: 80%;
  min-height: 80%;
  color: #afafaf;
}
.upload-asset-guidelines p {
  color: #030a21;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.upload-asset-guidelines span {
  color: #030708;
  font-weight: 500;
}
.upload-asset-input-wrapper {
  position: relative;
  width: 144px;
  padding: 0.5rem 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #247efd;
  cursor: pointer;
}

.upload-asset-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.upload-asset-input-label {
  color: #07163d;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
.is-invalid {
  border: 1.5px dashed #dc3545 !important;
  background-image: none !important;
  padding-right: 0.75rem !important;
}
.upload-asset-preview-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #247efd;
}
.upload-asset-preview-icon img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.upload-asset-file-name p {
  color: #030a21;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .upload-asset-guidelines p {
    font-size: 16px;
    font-weight: 500;
  }
  .upload-asset-guidelines span {
    font-weight: 600;
  }
}

@media (min-width: 1200px) {
  .upload-asset-wrapper {
    /* gap: 108px; */
    align-items: center;
  }
  .upload-asset-bg {
    width: 6rem;
    height: 6rem;
  }
  .upload-asset-preview-icon {
    width: 6rem;
    height: 6rem;
  }
}
