.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-wrapper a {
  text-decoration: none;
  color: #1d1c1d;
}
.avatar-icon-wrapper {
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.avatar-icon-wrapper .avatar-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  vertical-align: initial !important;
  cursor: pointer;
}

.no-avatar-wrapper {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d1c1d;
  font-size: 12px;
  font-weight: 300;
  border-radius: 50%;
  cursor: pointer;
  text-transform: uppercase;
}
