/* =======  google fonts  ======= */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* ======= universal css  ======= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ======= variable css ======= */
:root {
  scroll-behavior: smooth;
  --primary-font-family: "Fira Sans", sans-serif;
  --secondary-font-family: "Ubuntu", sans-serif;
  --font-size: 1rem;
  --font-size-sm: 0.75rem;
  --transition: all 0.7s ease;
  --main-gradient: linear-gradient(to right, #244cfd, #15e4fd);
}
/* =======  global  css ======= */
body {
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
}
a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-family);
}

.p-block-70 {
  padding-block: 70px;
}

/* =======  header css ======= */
.header-section {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* ======= top header css ======= */
.top-header {
  display: none;
}

/* ======= main header css ======= */
.main-header {
  background: #f9f9fd;
  padding-block: 16px;
  padding-inline: 24px;
  box-shadow: 0 1px 6px #2021243d;
}
.main-header-container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main-header .logo-wrapper {
  display: none;
}
.main-header .logo-sm-wrapper {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
}
.main-header .logo-sm-wrapper img {
  width: 100%;
  height: 100%;
}
.main-header .nav-bar {
  display: none;
}

/* ======= hamburger menu css =======  */
.hamburger-menu {
  display: flex;
  align-items: center;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.hamburger-menu button.hamburger-btn {
  outline: none;
  border: none;
  background: none;
}
.hamburger-menu i {
  font-size: 32px;
  padding: 4px 8px;
  background: transparent;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.hamburger-menu i:is(:hover, :focus) {
  background: var(--main-gradient);
  color: #fff !important;
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

/* mobile nav bar css */
.mobil-header-container .offcanvas-logo-wrapper {
  background: #f9f9fd;
  padding-block: 16px;
  padding-inline: 16px;
  box-shadow: 0 1px 6px #2021243d;
}
.mobil-header-container .offcanvas-logo-wrapper .btn-close:focus {
  box-shadow: 0 0 0 0.125rem rgba(218, 220, 224, 0.81);
}
.mobile-nav-bar .mobile-nav-items li {
  padding-block: 8px;
  border-bottom: 1px solid #dadce0d1;
}
.mobile-nav-bar .mobile-nav-items li:first-child {
  padding-top: 0;
}
.mobile-nav-bar .mobile-nav-items a {
  color: #030a21;
  font-weight: 400;
}
.mobile-nav-bar .mobile-nav-items li a:hover {
  color: #007fff;
}

.mobile-nav-bar .mobile-nav-items li a.main-btn {
  display: block;
  width: 100%;
  color: #fff;
  background: var(--main-gradient);
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  font-weight: 400;
  padding: 12px 24px !important;
  transition: var(--transition);
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;
}
.mobile-nav-bar .mobile-nav-items li a.main-btn:hover {
  color: #fff;
  opacity: 0.8;
}

/* ======= hero section css  ======= */
.hero-section {
  position: relative;
  min-height: 800px;
  background-image: url("../images/home/home-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 7%;
}
.hero-content {
  width: 100%;
}
.hero-content h1 {
  font-size: 32px;
  color: #030a21;
  font-weight: 600;
  font-family: var(--secondary-font-family);
  margin-bottom: 10px;
}
.hero-content p {
  font-size: 18px;
  color: #030a21;
  font-weight: 400;
  margin-bottom: 30px;
}
.hero-content a.main-btn {
  display: block;
  color: #fff;
  background: var(--main-gradient);
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  font-weight: 400;
  padding: 12px 24px !important;
  transition: var(--transition);
  border-radius: 4px;
  text-align: center;
}
.hero-content a.main-btn:hover {
  color: #fff;
  opacity: 0.8;
}

.hero-content a.main-btn-light {
  display: block;
  color: #030a21;
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  font-weight: 400;
  padding: 12px 24px !important;
  transition: var(--transition);
  border-radius: 4px;
  margin-top: 12px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent; /* needed for border-box */
  background:
    /* inner background (button fill) */
    linear-gradient(#ffffff, #ffffff) padding-box,
    /* outer gradient border */ linear-gradient(to right, #244cfd, #15e4fd)
      border-box;
}
.hero-content a.main-btn-light:hover {
  background:
    /* inner background (now gradient too) */
    linear-gradient(to right, #244cfd, #15e4fd) padding-box,
    /* outer gradient border (same as before) */
    linear-gradient(to right, #244cfd, #15e4fd) border-box;
  color: #fff !important;
  opacity: 0.8;
}

/* =======  section title css  ======= */
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: var(--main-gradient);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
}

/* ======= about us  section css  ======= */
.about-us-section {
  position: relative;
  z-index: 1;
}
.about-us-container {
  padding-left: 24px !important;
  padding-right: 24px !important;
  /* max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 7%; */
}
.about-us-container .about-us-image {
  max-width: 100%;
  height: 100%;
}
.about-us-container .about-us-image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.about-us-container .about-us-content {
  max-width: 100%;
  height: auto;
}
.about-us-container .about-us-content h3 {
  font-size: clamp(1rem, 2vw, 1.75rem);
  font-weight: 700;
  padding-bottom: 10px;
}
.about-us-container .about-us-content p:last-child {
  padding-top: 10px;
  margin-bottom: 0;
}
.about-us-container .about-us-content ul {
  list-style: none;
  padding: 0;
}

.about-us-container .about-us-content ul li {
  padding: 10px 0 0 0;
  display: flex;
  gap: 0.5rem;
}

.about-us-container .about-us-content ul i {
  color: #007fff;
  line-height: 1.2;
  font-size: 1.125rem;
}

/* ======= hotline section css  ======= */
.hotline-section {
  color: #fff;
  padding-block: 200px;
  background-image: url("../images/smiling-doctor.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.hotline-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top right,
    rgba(36, 76, 253, 0.9),
    rgba(21, 228, 253, 0.9)
  );
  z-index: -1;
}
.hotline-section .hotline-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotline-section h2 {
  color: #fff;
}
.hotline-section p {
  padding-inline: 24px;
}
.hotline-section span {
  font-size: 56px;
  font-size: clamp(2rem, 2vw, 3.5rem);
  font-family: var(--secondary-font-family);
  font-weight: 900;
}

/* ======= Service section css  ======= */
.services-section {
  background: #f9f9fd;
  position: relative;
  z-index: 1;
}
.services-section .service-container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
  flex-wrap: wrap;
  gap: 1rem;
}
.services-section .service-item {
  position: relative;
  text-align: center;
  padding: 20px 24px 24px;
  transition: var(--transition);
  flex-basis: 100%;
  background: #fff;
}

.services-section .service-item .service-icon {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 32px;
  transition: var(--transition);
  box-shadow:
    0 1px 2px #3c40430d,
    0 2px 6px 2px #3c404312;
}
.services-section .service-item:hover .service-icon {
  box-shadow:
    0 1px 2px rgba(60, 64, 67, 0.15),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.services-section .service-item h3 {
  font-weight: 700;
  margin-bottom: 8px;
  padding-bottom: 7px;
  font-size: 16px;
  transition: 0.3s;
  color: #12151f;
  position: relative;
}

.services-section .service-item h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: var(--main-gradient);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.services-section .service-item .tag-line {
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  padding-bottom: 8px;
  margin-bottom: 0;
}
.services-section .service-item .description {
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 0;
}

.services-section .service-item:hover h3 {
  color: #007fff;
}

/* ======= footer section css  ======= */
.footer-section {
  position: relative;
  background: #12151f;
  z-index: 1;
}
.footer-links-container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 7%;
}
.footer-logo-main-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.footer-logo-main-wrapper::after {
  content: "\2b";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}
.footer-logo-wrapper {
  width: 48px;
  height: 48px;
}
.footer-logo-wrapper img {
  width: 100%;
  height: 100%;
}

/* .slogan-content {
  display: none;
} */
.slogan-content h4 {
  color: #fff !important;
  font-size: 1.125rem;
  font-weight: 400;
}
.links-item h4 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 12px;
  font-family: var(--secondary-font-family);
  position: relative;
}
.links-item h4::after {
  content: "\2b";
  position: absolute;
  right: 16px;
}
.links-item ul {
  list-style: none;
  padding-left: 0 !important;
}
.links-item ul li {
  margin-bottom: 10px;
}
.links-item ul li:last-child {
  margin-bottom: 0;
}
.links-item ul li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  opacity: 0.7;
}
.links-item ul li a:hover {
  opacity: 1;
}

.sub-footer-links-container {
  background-color: #212124;
  border-top: 1px solid transparent;
  border-image: var(--main-gradient) 1;
  padding: 20px;
}

.sub-footer-links-container .sub-footer-links-item {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 7%;
  row-gap: 1rem;
}
.copy-right p {
  color: #fff;
  font-weight: 400;
  opacity: 0.7;
  max-width: 300px;
  text-align: center;
}

.legal-links-wrapper ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}
.legal-links-wrapper ul li a {
  color: #fff;
  font-weight: 400;
  opacity: 0.7;
}
.legal-links-wrapper ul li a:hover {
  opacity: 1;
}
.sub-footer-links-container .social-media-link-lists {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sub-footer-links-container .social-media-link-lists li {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #007fff;
  border-radius: 50% !important;
}

.sub-footer-links-container .social-media-link-lists li a i {
  width: 60%;
  height: 60%;
  color: #fff;
  opacity: 0.7;
}
.sub-footer-links-container .social-media-link-lists li a i:hover {
  opacity: 1;
}

/* ======= 404 page section css  ======= */
.not-found-page-section.container,
.unauthorized-section.container {
  max-width: 992px !important;
}
.not-found-page-section div.main-btn,
.unauthorized-section div.main-btn {
  display: block;
  width: 210px;
  color: #fff;
  background: var(--main-gradient);
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  font-weight: 400;
  padding: 12px 24px !important;
  transition: var(--transition);
  border-radius: 4px;
  text-align: center;
}
.not-found-page-section div.main-btn a,
.unauthorized-section div.main-btn a {
  color: #fff;
  text-align: center;
  max-width: none;
}
.not-found-page-section div.main-btn a:hover,
.unauthorized-section div.main-btn a:hover {
  color: #fff;
  opacity: 0.8;
}

/* mobile device footer css */
.md-footer-links-wrapper h2,
.md-footer-links-wrapper h4 {
  color: #fff !important;
}
.md-footer-links-wrapper .accordion .accordion-item {
  background-color: #12151f !important;
  color: #fff !important;
}
.md-footer-links-wrapper .accordion .accordion-button {
  background-color: #12151f !important;
  color: #fff !important;
}
.md-footer-links-wrapper .accordion .accordion-button:focus {
  box-shadow: 0 0 0 0.125rem rgba(0, 127, 255, 0.95);
}
.md-footer-links-wrapper .accordion .accordion-button::after {
  background-image: url("../icons/plus-icon.svg");
}
.md-footer-links-wrapper .accordion .accordion-button:not(.collapsed)::after {
  background-image: url("../icons/minus-icon.svg");
}

/* ======= media query css  ======= */

@media (min-width: 576px) {
  .main-header .logo-wrapper {
    display: flex;
    align-items: center;
    width: 224px;
    height: 54px;
  }
  .main-header .logo-wrapper img {
    width: 100%;
    height: 100%;
  }
  .main-header .logo-sm-wrapper {
    display: none;
  }
  /* ======= hero section css  ======= */
  .hero-section-container {
    width: 1400px;
    margin: 0 auto;
    padding-inline: 24px;
  }
  .hero-content {
    max-width: 464px;
  }
  .hero-content h1 {
    font-size: 36px;
  }
  .hero-content a.main-btn {
    display: inline-block;
  }

  .hero-content a.main-btn-light {
    display: inline-block;
    margin-left: 12px;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  /* ======= top header css ======= */
  .top-header {
    display: block;
    background: #f9f9fd;
    padding-block: 12px;
    padding-inline: 24px;
    border-bottom: 1px solid rgb(232, 237, 241);
  }
  .top-header-container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .top-header-container .top-header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .top-header-left .call-us-now,
  .top-header-left .working-days {
    color: transparent;
    background-image: linear-gradient(
      to right,
      #244cf4,
      #007fff,
      #00a6ff,
      #00c7ff,
      #15e4fe
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .top-header-left .call-us-now i,
  .top-header-left .working-days i {
    color: #737373;
    padding-right: 7px;
  }

  .top-header-container .social-media-links-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .top-header-container .social-media-links-wrapper .help a {
    color: #737373;
  }
  .top-header-container .social-media-links-wrapper .help a:hover {
    color: #444444;
  }
  .top-header-container .social-media-links-wrapper ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }
  .top-header-container .social-media-links-wrapper ul li a i {
    color: #737373;
  }
  .top-header-container .social-media-links-wrapper ul li a i:hover {
    color: #444444;
  }
  /* ======= about us  section css  ======= */
  /* .about-us-container {
    max-width: 1400px;
    flex-direction: row;
    padding-inline: 24px;
    margin: 0 auto;
  } */
  /* .about-us-container .about-us-image {
    width: 48%;
    height: auto;
  } */
  .about-us-container .about-us-image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  /* .about-us-container .about-us-content {
    width: 48%;
    height: auto;
  } */
  /* ======= Service section css  ======= */
  .services-section {
    background: #f9f9fd;
    position: relative;
    z-index: 1;
  }

  .services-section .service-item {
    flex-basis: 315px;
  }

  /* ======= footer section css  ======= */

  .footer-links-container {
    flex-direction: row;
    margin: 0 auto;
  }
  .footer-logo-main-wrapper::after {
    display: none;
  }

  .slogan-content {
    display: block;
    max-width: 180px;
  }

  .links-item ul {
    display: block;
  }
  .links-item h4::after {
    display: none;
  }

  .sub-footer-links-container .sub-footer-links-item {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 0;
  }
  .copy-right p {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  /* ======= main header nav bar css ======= */
  .main-header .nav-bar {
    display: flex;
    align-items: center;
  }
  .main-header .nav-bar .nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .main-header .nav-items li a {
    color: #030a21;
    font-weight: 400;
  }
  .main-header .nav-items li a:hover {
    color: #007fff;
  }

  .main-header .nav-items li a.main-btn {
    color: #fff;
    background: var(--main-gradient);
    font-family: var(--secondary-font-family);
    text-transform: capitalize;
    font-weight: 400;
    padding: 12px 24px !important;
    transition: var(--transition);
    border-radius: 4px;
    white-space: nowrap;
  }
  .main-header .nav-items li a.main-btn:hover {
    color: #fff;
    opacity: 0.8;
  }
  /* ======= hamburger menu css =======  */
  .hamburger-menu {
    display: none;
  }

  /* ======= about us  section css  ======= */
  .about-us-container {
    padding-left: 0;
    padding-right: 0;
  }
  /* ======= hotline section css  ======= */
  .hotline-section p {
    padding-inline: 0;
  }
  /* ======= services section css  ======= */
  .services-section .service-container {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .services-section .service-item {
    flex-basis: 364px;
  }
}
@media (min-width: 1400px) {
  .services-section .service-item {
    flex-basis: 444px;
  }
}

/* dept css */
.department-section {
  position: relative;
  z-index: 1;
  padding-top: 70px;
}
.single-department {
  padding: 36px 32px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #e8edf1;
  z-index: 22;
  position: relative;
  transition: all 300ms linear 0s;
  height: 100%;
}
.department-icon {
  margin-bottom: 12px;
  height: 72px;
  width: 72px;
  background: #ecf0f8;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 32px;
}
.department-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 100%;
  height: 100%;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.department-title {
  font-size: 20px;
  font-weight: 600;
  border-top: 1px solid #e8edf1;
  padding-top: 24px;
  margin-bottom: 24px;
}
.department-subtitle {
  margin-bottom: 0;
  color: #797979;
  margin-bottom: 16px;
}

/* feature  css */
.enat-health-feature {
  background: #f7f7f7;
  background-image: url(../images/department/dept-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 250px;
  padding-bottom: 110px;
  margin-top: -180px;
}
@media (min-width: 992px) {
  .enat-health-feature {
    padding-top: 400px;
  }
}
.enat-health-feature::after {
  display: none;
}
@media (min-width: 992px) {
  .enat-health-feature::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    top: 0;
    background: url(../images/department/dept-banner-bg.png);
    background-size: auto;
    z-index: 11;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
.enat-health-feature .enat-health-feature-content {
  margin-top: 0;
  padding-left: 0;
}
.enat-health-feature .enat-health-feature-content h4 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 46px;
}
.enat-health-feature .enat-health-feature-content h6 {
  font-size: 16px;
  font-weight: 500;
  color: #0051d2;
  line-height: 25px;
  margin-bottom: 25px;
}
.enat-health-feature .enat-health-feature-content p {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 26px;
}

.enat-health-feature .enat-health-feature-content h4 br {
  display: none;
}
.enat-health-feature .enat-health-feature-content p br {
  display: none;
}

@media (min-width: 992px) {
  .enat-health-feature .enat-health-feature-content {
    margin-top: 32px;
    padding-left: 24px;
  }
  .enat-health-feature .enat-health-feature-content h4 br {
    display: block;
  }
  .enat-health-feature .enat-health-feature-content p br {
    display: block;
  }
}

/* specialty  css */
.specialist-section {
  background: #f0f0fc;
}
.specialist-section .single-doctor {
  background: #fff;
  padding: 16px;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.specialist-section .single-doctor:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.specialist-section .doctor-img img {
  width: 100% !important;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.specialist-section .single-doctor:hover .doctor-name {
  background: linear-gradient(to right, #244cfd, #15e4fd);
}
.specialist-section .single-doctor:hover .doctor-name h3,
.specialist-section .single-doctor:hover .doctor-name h6 {
  color: #fff;
}

.specialist-section .doctor-name {
  padding: 16px;
  background: #f9f9fd;
  transition: 0.5s all ease-in-out;
}
.specialist-section .doctor-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 16px;
}

.specialist-section .social-media-link-lists {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0 !important;
  gap: 1rem;
}
.specialist-section .social-media-link-lists li a {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #007fff;
  border-radius: 50% !important;
}

.specialist-section .social-media-link-lists li a i {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: 60%;
  height: 60%;
  color: #007fff;
  opacity: 0.7;
}

.specialist-section .social-media-link-lists li a:is(:hover, :focus) i {
  opacity: 1;
}

/* blog detail css */
.blog-detail-post-img-banner {
  width: 100%;
  height: 350px;
  border-radius: 4px;
}
.blog-detail-post-img-banner img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.blog-detail-post-img img {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  margin-bottom: 24px;
}
.blog_item {
  margin-bottom: 40px;
}
.blog_info {
  padding-top: 30px;
}
.blog_info .blog_meta {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
  flex-direction: column;
  /* align-items: center; */
}
.blog_info .blog_meta li a {
  font: 300 14px/20px;
  color: #777777;
  vertical-align: middle;
  display: inline-block;
}
.blog_info .blog_meta li a i {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  line-height: 20px;
  vertical-align: middle;
}
.blog_info .blog_meta li a:hover {
  color: #244cfd;
}
.blog_post img {
  max-width: 100%;
}
.blog_details {
  padding-top: 20px;
}
.blog_details h4 {
  font-size: 24px;
  line-height: 36px;
  color: #222;
  font-weight: 600;
  transition: all 0.3s linear;
}
.blog_details h4:hover {
  color: #244cfd;
}
.blog_details p {
  margin-bottom: 26px;
}
.blog_details .template-btn {
  color: #222 !important;
  padding: 10px 24px !important;
  background: #f9f9fd;
}
.blog_details .template-btn:hover {
  color: #fff !important;
  background: linear-gradient(to right, #244cfd, #15e4fd);
}
.blog_right_sidebar {
  border: 1px solid #f9f9f9;
  background: #f9f9fd;
  padding: 30px;
}
.blog_right_sidebar .widget_title {
  font-size: 18px;
  line-height: 25px;
  background: linear-gradient(to right, #244cfd, #15e4fd);
  text-align: center;
  color: #fff;
  padding: 8px 0px;
  margin-bottom: 30px;
}
.blog_right_sidebar .author_widget {
  text-align: center;
}
.blog_right_sidebar .author_widget h5 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.blog_right_sidebar .author_widget p {
  margin-bottom: 0px;
}
.blog_right_sidebar .author_widget .social_icon {
  padding: 7px 0px 15px;
}
.blog_right_sidebar .author_widget .social_icon a {
  font-size: 14px;
  color: #222;
  transition: all 0.2s linear;
}
.blog_right_sidebar .author_widget .social_icon a + a {
  margin-left: 20px;
}
.blog_right_sidebar .author_widget .social_icon a:hover {
  color: #244cfd;
}
.related-post-img {
  width: 100px;
  height: 64px;
  border-radius: 4px;
}
.related-post-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.blog_right_sidebar .popular_post_widget .post_item {
  display: flex;
  align-items: center;
  gap: 12px;
}
/* .blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
} */
.blog_right_sidebar .popular_post_widget .post_item .media-body a h5 {
  color: #222;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  transition: all 0.3s linear;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body a h5:hover {
  color: #244cfd;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 0px;
}
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px;
}

.blog_right_sidebar .tag_cloud_widget ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  list-style: none;
  margin: 0;
}
.blog_right_sidebar .tag_cloud_widget ul li {
  color: #222;
  display: inline-block;
  border: 1px solid #eee;
  background: #fff;
  padding: 5px 13px;
  margin-bottom: 8px;
  transition: all 0.3s ease 0s;
  font-size: 12px;
}
.blog_right_sidebar .tag_cloud_widget ul li:hover {
  background: linear-gradient(to right, #244cfd, #15e4fd);
  color: #fff;
}
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eee;
  margin: 30px 0px;
}
.blog-pagination {
  padding-top: 25px;
  padding-bottom: 95px;
}
.blog-pagination .page-link {
  border-radius: 0;
}
.blog-pagination .page-item {
  border: none;
}
.page-link {
  background: transparent;
  font-weight: 400;
}
.blog-pagination .page-item.active .page-link {
  background: linear-gradient(to right, #244cfd, #15e4fd);
  border-color: transparent;
  color: #fff;
}
.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none;
}
.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0;
}
.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to right, #244cfd, #15e4fd);
  border-color: #eee;
}

.single-post .blog_details {
  padding-top: 26px;
}
.single-post .blog_details p {
  margin-bottom: 10px;
}
.single-post .quotes {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 24px 35px 24px 30px;
  background-color: #fff;
  box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  font-size: 14px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}
.single-post .arrow {
  position: absolute;
}
.single-post .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}
.single-post .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 991px) {
  .single-post .sidebar-widgets {
    padding-bottom: 0px;
  }
}
@media (min-width: 992px) {
  .blog-detail-post-img img {
    margin-bottom: 0;
  }
}

.author-avatar-wrapper .avatar {
  background: #fff;
  border: 1px solid #007bff;
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-avatar-wrapper .avatar img {
  border-radius: 50%;
  width: 80%;
  height: 80%;
}
.author-avatar-wrapper .avatar .no-avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 80%;
  height: 80%;
}
